<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="./../images/logo3.jpg" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body class="bg-secondary">
   
    {% include "header.html" %}

    <main class="bg-secondary">
        
        <section class="s row bg-primary p-3" id="s1" >
            <div class="col-lg col-md p-3 d-flex flex-column gap-3 order-2 order-sm-2 order-2 order-lg-1 order-md-1">
                <h1>About Our Commitment</h1>
                <p>At ArtiFusion, we're dedicated to delivering products that go beyond expectations. We take pride in our commitment to quality, craftsmanship, and customer satisfaction.</p>
                <div class="btn1">
                    <a href="home" id="shopnow" class="btn btn-outline-light">Explore Our Shop</a>
                    <a href="about.html" id="findout" class="btn btn-outline-light">Sell Your Products</a>
                </div>
            </div>
            <div class="col-lg col-md  order-1 order-md-1 order-sm-1 order-lg-1">
                <img src="{{ url_for('static', filename=' ') }}"./../images/OIP (2).jfif" alt="" width="100%" style="height: 70vh;">
            </div>
        </section>
        <br>
        <section class="s row bg-warning p-3" id="s6">
            <div class="osimg col-lg-4 col-md-4 col-12"><img src="{{ url_for('static', filename=' ') }}"../images/cos.webp" alt="" height="100%" width="100%"></div>
            <div class="oscont col-lg-8 col-md-8 col-12 d-flex gap-2 flex-column p-3">
                <h1>Convenient Online Shopping Experience</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore temporibus vitae, nobis hic recusandae aspernatur illo laborum delectus eveniet voluptates.</p>
                <div class="tdiv d-flex flex-row flex-wrap justify-content-between ">
                    <div class="tdiv1 d-flex col-lg-5 gap-2">
                        <span class="osn d-flex align-items-center justify-content-center bg-light rounded-circle" style="width: 45px; height: 45px; padding: 10px;">01</span> 
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, repudiandae?</span> 
                    </div>
                    <div class="tdiv1 d-flex col-lg-5 gap-2">
                        <span class="osn d-flex align-items-center justify-content-center bg-light rounded-circle" style="width: 45px; height: 45px; padding: 10px;">02</span> 
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, repudiandae?</span> 
                    </div>
                    <div class="tdiv1 d-flex col-lg-5 gap-2">
                        <span class="osn d-flex align-items-center justify-content-center bg-light rounded-circle" style="width: 45px; height: 45px; padding: 10px;">03</span> 
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, repudiandae?</span> 
                    </div>
                    <div class="tdiv1 d-flex col-lg-5 gap-2">
                        <span class="osn d-flex align-items-center justify-content-center bg-light rounded-circle" style="width: 45px; height: 45px; padding: 10px;">04</span> 
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, repudiandae?</span> 
                    </div>

                </div>
                <div class="btndiv d-flex gap-4 w-100">
                    <button class="btn btn-outline-danger w-100">Read More</button>
                    <button class="btn btn-outline-danger w-100">Continue Shopping</button>
                </div>
            </div>
        </section>
        <br>
        <section class="s  py-3" id="s2">
            <div class="img_cont row d-flex  flex-nowrap overflow-auto">
                <div class="img1 gap-1 col pt-3 pl-2 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' ') }}"./../images/OIP (8).jfif" height="60" width="60" alt="">
                    <h4>Best Prices & Offers</h4>
                    <p>Orders $50 or more</p>
                </div>
                <div class="img1 gap-1 col pt-3 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' ') }}"./../images/download (2).jfif" height="60" width="60" alt="">
                    <h4>Free Delivery</h4>
                    <p>24/7 amazing services</p>
                </div>
                <div class="img1 gap-1 col pt-3 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' ') }}"./../images/OIP (10).jfif" height="60" width="60" alt="">
                    <h4>Great Daily Deal</h4>
                    <p>When you sign up</p>
                </div>
                <div class="img1 gap-1 col pt-3 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' ') }}"./../images/OIP (9).jfif" height="60" width="60" alt="">                    
                    <h4>Rapid Delivery</h4>
                    <p>Within 5 days of order</p>
                </div>
                <div class="img1 gap-1 col pt-3 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' ') }}"./../images/OIP (11).jfif" height="60" width="60" alt="">
                    <h4>Easy Returns</h4>
                    <p>Within 30 days</p>
                </div>
                
            </div>
        </section>
        
        <hr>
        <section class="s row bg-primary p-3" id="s1" >
            <div class="col-lg col-md p-3 d-flex flex-column gap-3 order-2 order-sm-2 order-2 order-lg-1 order-md-1">
                <h1>Discover Our Handcrafted Products</h1>
                <p>At ArtiFusion, we take pride in curating a diverse collection of handcrafted products. Each item is a testament to the skill and creativity of our artisans, making your shopping experience truly unique.</p>
                <p>Explore our exclusive range of handcrafted treasures, and join over 150 happy customers who have found something special. With over 25 years of experience, we're dedicated to delivering the finest in craftsmanship and artistry.</p>
                <div class="row">
                    <div class="col border-dark border-2">
                        <h2>500+ </h2>
                        <p>Unique Artisanal Products</p>
                    </div>
                    <div class="col border-dark border-2">
                        <h2>150+ </h2>
                        <p>Satisfied Customers</p>
                    </div>
                    <div class="col border-dark border-2">
                        <h2>25+ </h2>
                        <p>Years of Craftsmanship</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg col-md  row order-1 order-md-1 order-sm-1 order-lg-1 gap-0">
                <div class="col-6" id="di1"><img src="{{ url_for('static', filename=' ') }}"../images/OIP (3).jfif" width="100%" height="100%" alt=""></div>
                <div class="col-6" id="di1"><img src="{{ url_for('static', filename=' ') }}"../images/OIP (5).jfif" width="100%" height="100%" alt=""></div>
                <div class="col-12" id="di3"><img src="{{ url_for('static', filename=' ') }}"../images/jwl1.jfif" width="100%" height="100%" alt=""></div>
            </div>
        </section>
        <br>
        <section class="as bg-primary " id="as4">
            <div class="revdesc pb-3">
                <h1>What Our Customers Say</h1>
                <p>Discover what our satisfied customers have to say about their experience with ArtiFusion.</p>
                <button class="btn btn-outline-light">Read More Reviews</button>
            </div>
            <div class="revcust">
                <div class="custr p-3" id="1r">
                    <div class="rpdiv">
                        <img src="{{ url_for('static', filename=' ') }}"../images/user-solid.svg" alt="Customer 1" width="40" height="40">
                        <div class="rstars">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                        </div>
                        <h4>Emily</h4>
                        <p>Art Lover</p>
                    </div>
                    <p>"ArtiFusion offers a unique collection of handcrafted treasures that truly stand out. The craftsmanship and attention to detail in each piece are exceptional."</p>
                    <div class="d-flex justify-content-between gap-4">
                        <div class="btn btn-info w-100">Helpful</div>
                        <div class="btn btn-danger w-100">Report</div>
                    </div>
                    
                </div><hr>
                <div class="custr p-3" id="2r">
                    <div class="rpdiv">
                        <img src="{{ url_for('static', filename=' ') }}"../images/user-solid.svg" alt="Customer 2" width="40" height="40">
                        <div class="rstars">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                            <img src="{{ url_for('static', filename=' ') }}"../images/star-regular.svg" width="15" height="15" alt="Star">
                        </div>
                        <h4>John</h4>
                        <p>Art Collector</p>
                    </div>
                    <p>"I've been a customer of ArtiFusion for years, and the quality of their products never ceases to amaze me. The unique designs and personal touch make every purchase special."</p>
                    <div class="d-flex justify-content-between gap-4">
                        <div class="btn btn-info w-100">Helpful</div>
                        <div class="btn btn-danger w-100">Report</div>
                    </div>
                </div><hr>
            </div>
        </section>
        
        <section class="as" id="as5"></section>
        <section class="as" id="as6"></section>
    </main>
    {% include "modal.html" %}
     {% include "footer.html" %}
 
     <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/foot.js')}}"></script>
  </body>
</html>