<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo3.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <style>
        

    </style>
</head>
<body>
    {% include "adminheader.html" %}
  
   <main class="p-3" style="background-color: springgreen;">
    
    <section class="sa1" id="sart">
        <h1>Seller  (or)Artician </h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-warning border-dark">
                <thead>
                    <tr>
                        <th>SellerId</th>
                        <th>Name</th>
                        <th>Profile</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Shop Name</th>
                    </tr>
                </thead>
                <tbody>

                    {% if sellertable1|length !=0  %}
                    {% set arr_length = sellertable1|length %}
                    {#
                        <p>order data is ,{{sellertable1}} </p>                            
                    #}

                    {% for i in range(arr_length) %}
                        <tr>
                            <td>{{i+1}}</td>
                            <td><img src="{{sellertable1[i][0]}}" width="100px" height="100px" style="
                                border-radius: 25px;
                                border: 2px solid black;"/></td>
                            <td>{{sellertable1[i][1]}} {{sellertable1[i][2]}}</td>
                            <td>{{sellertable1[i][3]}}</td>
                            <td>{{sellertable1[i][4]}}</td>
                            <td>{{sellertable1[i][5]}}</td>
                            <td>{{sellertable1[i][6]}}</td>                        
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>no orders so far</p>
                {% endif %}

                </tbody>
            </table>
        </div>
    </section>
   </main>
   <br>
    {% include "footer.html" %}
    {% include "modal.html" %}

    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/foot.js')}}"></script>
 </body>
</html>