<footer class="bg-dark text-light row m-0 p-3">
    <div class="row p-3">
        <div class="col">
            <h1>ArtiFusion</h1>
            <p>Explore a world of handcrafted wonders, where creativity and craftsmanship combine to offer you unique treasures. Discover the artistry of artisans from around the globe.</p>
        </div>
        
    
        <div class="col">
            <h2>Support</h2>
            <p>Track Your Order</p>
            <p>Terms & Conditions</p>
            <p>Privacy Popcy</p>
            <p>Help Center</p>
        </div>

        <div class="col">
            <h2>Contact</h2>
            <p><img src="{{ url_for('static', filename='images/images.jpeg') }}" alt="" height="15" width="15">Place x,XY floor,xyz Streeet,xyz</p>
            <p><img src="{{ url_for('static', filename='images/images.jpeg') }}" alt="" height="15" width="15">Atrifusion@gmail.com</p>
            <p><img src="{{ url_for('static', filename='images/images.jpeg') }}" alt="" height="15" width="15">+123-456-0789</p>
        </div>
        
    </div>
    <hr>
    <div class="row p-2 ">
        <p class="text-center">Copyright@ 2023  By Hackylazy454 media. All Rights Reserved</p>
    </div>
    </footer>
