<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <style>
        .prod {
            min-height: 250px;
            gap: 15px;
            min-width: 250px;
        }
    </style>
</head>
<body>
    <main>
        <br>
        <div class="topsell d-flex row m-0 p-2 p-sm-5 width-100 justify-content-baseline gap-3" id="topsell">
           <!----
            <div class="prod border d-flex flex-column justify-content-center p-2 col-9  col-md-3 col-lg-2">
                <div class="col d-flex flex-column">
                    <span class="badge bg-success position-absolute left-0 p-2 ">New</span>
                    <img src="{{ url_for('static', filename=' ') }}"./../images/user-solid.svg" width="100" height="100" alt="">

                </div>
                <h5>Product Name</h5>
                <p>Product price </p>
                <a href="product.html" class="btn btn-secondary">View Product</a>
            </div>
            --->
        </div>
        <br>
        <div class="dis d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="dis">
        </div>
         <br>
         <div class="jwl d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="jwl">
        </div>
         <br>
         <div class="pot d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="pot">
        </div>
         <br>
         <div class="toy d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="toy">
        </div>
         <br>
         <div class="hd d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="hd">
        </div>
         <br>
         <div class="art d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="art">
        </div>
         <br>
         <div class="fur d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="fur">
        </div>
         <br>


        
    </main>
    <script src="{{ url_for('static', filename=' ') }}"home.js"></script>
    <script src="{{ url_for('static', filename=' js/bootstrap.bundle.min.js') }}" ></script>
    <script src="{{ url_for('static', filename=' js/foot.js') }}" ></script>
</body>
</html>