<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo3.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <style>
        .prod {
            min-height: 250px;
            gap: 15px;
            min-width: 200px;
        }
    /*    .active1{
            background-color: white;
            color: black;
        }
    */    .tooltip-inner{
            background-color: darkblue;
            color: white;
            padding: 10px 15px;
        }
       
    </style>
</head>
<body class="">
    <!--
        "C:\Users\Vignesh\Downloads\fontawesome-free-6.4.0-web\fontawesome-free-6.4.0-web\css\all.min.css"
    -->
    <header class="" style="padding-bottom: 106px;">
        <nav class="navbar navbar-expand-md  fixed-top navbar-dark bg-dark  justify-content-center">
           <div class="container-fluid ">
               
               <a href="" class="navbar-brand " data-bs-toggle="tooltip" aria-label="Brand" data-bs-original-title="Brand">
                   <img src="{{ url_for('static', filename='images/logo1.jpg') }}"  class="rounded-circle" alt="" style="width: 80px; height: 80px;">
               </a>
               <!--
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#prof">profile</button>
               data-bs-toggle="tooltip"
                -->
               <div class="access1 d-flex flex-row   px-4 pe-0 gap-1 order-2 order-lg-3 order-md-3">
                   <a href="userprofile" data-bs-toggle="modal" title="Profile" data-bs-target="#prof" class="navbar-brand  align-items-center m-0">
                    <img src="{{ url_for('static', filename='images/user-solid.svg ') }}" alt="" height="40" width="40" name="profile" class="rounded-circle bg-light border border-info m-0 p-1 ms-1">
                    </a>
                 <!---   <a href="./wishlist" data-bs-toggle="tooltip" title="Wishlist" class="navbar-brand  align-items-center m-0">
                        <img src="{{ url_for('static', filename=' images/heart-solid.svg"') }} width="40" height="40" alt=""  name="wishlist" class="rounded-circle bg-light border border-info m-0 p-1 ms-1">
                    </a>
                -->
                    <a href="./cart" data-bs-toggle="tooltip" class="navbar-brand  align-items-center m-0" aria-label="Cart" data-bs-original-title="Cart">
                       <img src="{{ url_for('static', filename=' images/cart.jfif') }}" width="40" height="40" alt="" name="cart" class="rounded-circle bg-light border border-info m-0 p-1 ms-1">
                    </a>
               </div>
               <button class="navbar-toggler order-3 order-lg-2 order-md-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#colapnavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
                </button>
               <div class="navbar-collapse order-1 mx-3 order-4 order-md-2 order-lg-2 collapse" id="colapnavbar" style="">
                    
                    <ul class="navbar-nav align-items-baseline">
                        <li class="nav-item">
                            <div id="inp" class="nav-link w-100 order-m-3 d-flex align-items-center justify-content-center mt-2">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="min-width: 25vw;">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                             </div>
                            
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="wishlist" data-bs-original-title="Wishlist">Wishlist</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="home" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Category</a>
                            <ul class=" dropdown-menu dropdown-menu-dark ">
                                <li class="dropdown-item "><a class="nav-link navstyle " href="home#jewelry">Jewelry</a></li>
                                <li class="dropdown-item "><a class="nav-link navstyle " href="home#homedecor">Home Decor</a></li>
                                <li class="dropdown-item "><a class="nav-link navstyle " href="home#pottery">Pottery</a></li>
                                <li class="dropdown-item "><a class="nav-link navstyle " href="home#toys">Toys &amp; games </a></li>
                                <li class="dropdown-item "><a class="nav-link navstyle " href="home#furnitures">Funitures</a></li>
                                <li class="dropdown-item "><a class="nav-link navstyle " href="home#artworks">Art Works</a></li>
                             </ul>    
                        </li>
                    </ul>              
            </div>
               
           </div>
       </nav>
    </header>
    
    <main class="container-fluid " >
        <section class="s row bg-primary p-3" id="s1" >
            <div class="col-lg col-md p-3 d-flex flex-column gap-3 order-2 order-sm-2 order-2 order-lg-1 order-md-1">
                <h1>Welcome to Artisan Treasures</h1>
                <p>Discover a world of handcrafted wonders and unique creations. Our artisans pour their heart and soul into every piece, making each one a work of art. Explore the exquisite craftsmanship and creativity that sets our products apart.</p>
                <div class="btn1">
                    <a href="#top_prod" id="shopnow" class="btn btn-outline-light">Shop Now</a>
                    <a href="about.html" id="findout" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
            
            <div class="col-lg col-md  order-1 order-md-1 order-sm-1 order-lg-1">
                <img src="{{ url_for('static', filename='images/process_craftsmanship2.jpg ') }}"  alt="" width="100%" style="height: 70vh;">
            </div>
        </section>
        <br>
        <section class="s" id="s2">
            <div class="img_cont ps-3 pe-0  row d-flex flex-nowrap overflow-auto">
                <div class="img1 col">
                    <a href="#jewelry">
                        <img class="rounded-circle" src="{{ url_for('static', filename='images/jwl1.jfif ') }}" height="60" width="60" alt="">
                    </a>
                    <p>Jewellery</p>                    
                </div>
                <div class="img1 col">
                    <a href="#homedecor">                    
                        <img class="rounded-circle" src="{{ url_for('static', filename=' images/OIP (7).jfif') }}" height="60" width="60" alt="">
                    </a>
                    <p>Home Decor</p>
                </div>
                <div class="img1 col">
                    <a href="#pottery"> 
                       <img class="rounded-circle" src="{{ url_for('static', filename='images/OIP (3).jfif') }}"  height="60" width="60" alt="">
                    </a>
                    <p>Pottery</p>
                </div>
                <div class="img1 col">
                    <a href="#toys">
                        <img class="rounded-circle" src="{{ url_for('static', filename=' images/download (1).jfif') }}" height="60" width="60" alt="">                    
                    </a>
                    <p>Toys& Games</p>
                </div>
                <div class="img1 col">
                    <a href="#furnitures">
                        <img class="rounded-circle" src="{{ url_for('static', filename=' images/OIP (4).jfif') }}" height="60" width="60" alt="">
                    </a>
                    <p>Furniture</p>
                </div>
                <div class="img1 col">
                    <a href="#artworks">
                        <img class="rounded-circle" src="{{ url_for('static', filename=' images/OIP (5).jfif') }}" height="60" width="60" alt="">
                    </a>
                    <p>Artwork</p>
                </div>
                <!----
                <div class="img1 col">
                    <img src="{{ url_for('static', filename=' images/user-solid.svg"') }} height="60" width="60" alt="">
                    <p>names</p>
                </div>
                -->
            </div>
        </section>
        <hr><br>
        <section class="s bg-primary row p-3" id="top_prod">
            <h1>Top Selling Products</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ullam optio, autem expedita commodi quaerat facilis! Aperiam eos, tempore aliquam sequi magni veniam commodi laborum?</p>
            <div class="topsell d-flex row m-0 p-2 p-sm-5 ps-5 pe-0 width-100 justify-content-baseline gap-3" id="topsell">
            
            </div>
        
        </section>        
        <section class="s row bg-primary p-3" id="s5">
            <h1>Discounted Product</h1>
            <div class="disprod row d-flex ">
                <div class="desc col-12 col-lg-3 col-md-4 gap-3 pb-2">
                    <h1>Get upto 50% off on your daily needs
                    </h1>
                    <img src="{{ url_for('static', filename=' images/OIP (1).jfif') }}" alt="" class="w-100" height="400">
                </div><br>
                <div class="col-12 col-lg-9 col-md-8 gap-2">
                    <div class="dis d-flex row m-0 p-0  width-100 justify-content-baseline gap-3" id="dis">
                    </div>
                </div>
        
            </div>
        </section><br>

        <section class="s bg-primary row p-3" id="jewelry">
            <h1 class="text-center">Jewelry</h1>
            <div class="jwl d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="jwl">
            </div>
        
        </section>           
        <section class="s bg-primary row p-3" id="homedecor">
            <h1 class="text-center">Pottery</h1>
            <div class="pot d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="pot">
            </div>
        
        </section>

        <section class="s bg-primary row p-3" id="pottery">
            <h1 class="text-center">Toys</h1>
            <div class="toy d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="toy">
            </div>
        
        </section>

        <section class="s bg-primary row p-3" id="toys">
            <h1 class="text-center">Home Decor</h1>
            <div class="hd d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="hd">
            </div>
        
        </section>

        <section class="s bg-primary row p-3" id="furnitures">
            <h1 class="text-center">Artworks</h1>
            <div class="art d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="art">
            </div>
        
        </section>

        <section class="s bg-primary row p-3" id="artworks">
            <h1 class="text-center">Furniture</h1>
            <div class="fur d-flex row m-0 p-0 p-sm-5 width-100 justify-content-baseline gap-3" id="fur">
            </div>
        
        </section>   
        <br>
        <section class="s  py-3" id="s2">
            <div class="img_cont row d-flex  flex-nowrap overflow-auto">
                <div class="img1 gap-1 col pt-3 pl-2 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' images/OIP (8).jfif') }}" height="60" width="60" alt="">
                    <h4>Best Prices & Offers</h4>
                    <p>Orders $50 or more</p>
                </div>
                <div class="img1 gap-1 col pt-3 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' images/download (2).jfif') }}" height="60" width="60" alt="">
                    <h4>Free Delivery</h4>
                    <p>24/7 amazing services</p>
                </div>
                <div class="img1 gap-1 col pt-3 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' images/OIP (10).jfif') }}" height="60" width="60" alt="">
                    <h4>Great Daily Deal</h4>
                    <p>When you sign up</p>
                </div>
                <div class="img1 gap-1 col pt-3 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' images/OIP (9).jfif') }}" height="60" width="60" alt="">                    
                    <h4>Rapid Delivery</h4>
                    <p>Within 5 days of order</p>
                </div>
                <div class="img1 gap-1 col pt-3 d-flex flex-column bg-success ">
                    <img class="rounded-circle" src="{{ url_for('static', filename=' images/OIP (11).jfif') }}" height="60" width="60" alt="">
                    <h4>Easy Returns</h4>
                    <p>Within 30 days</p>
                </div>
                
            </div>
        </section>
        <hr>
    </main>
     {% include "footer.html" %}


    <div class="modal fade" id="prof">
        <div class="modal-dialog">
            <div class="modal-content p-2 px-3" style="max-width: 350px;">
                <div class="modal-header">
                    <h4 class="modal-title">Profile</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body p-4 d-flex flex-column align-items-center justify-content-center">
                <!----    <div class="col w-100">
                -->  <img src="{{ url_for('static', filename='') }}"" class="rounded-circle bg-info" alt="" width="100px" height="100px" >
                        <h4>User Name</h4>
                        <h6>user@gmail.com</h6>
                        <a href="userprofile" class="btn  btn-outline-dark w-100 my-3">View Profile</a>
                        <button data-bs-dismiss="modal" class="btn  btn-outline-dark w-100">Logout</button>
    
                   <!---- </div>
                    --->
                </div>
            </div>
        </div>
    </div>
<br>

<script src="{{ url_for('static', filename='css/bootstrap.bundle.min.js ') }}"></script>
<script>
    var tooltipTrigger = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTrigger.map(function (El) {
            return new bootstrap.Tooltip(El)
        })
</script>    
<script src="{{ url_for('static', filename=' js/foot.js') }}"></script>
<script src="{{ url_for('static', filename=' js/home.js') }}"></script>
</body>
</html>
               <!---
                    <div class="dropdown nav-item bg-dark text-light">
                        <button class="btn navbar-nav dropdown-toggle bg-dark text-light" type="button" data-bs-toggle="dropdown">Categories</button>
                        <ul class=" dropdown-menu bg-dark ">
                            <li class="nav-item dropdown-item text-light"><a href="./home" class="nav-link">Jewelry</a></li>
                            <li class="nav-item dropdown-item text-light"><a href="./userprofile" class="nav-link">Home Decor</a></li>
                            <li class="nav-item dropdown-item text-light"><a href="./wishlist" class="nav-link">Pottery</a></li>
                            <li class="nav-item dropdown-item text-light"><a href="./product.html" class="nav-link">Toys & games </a></li>
                            <li class="nav-item dropdown-item text-light"><a href="./checkout.html" class="nav-link">Funitures</a></li>
                            <li class="nav-item dropdown-item text-light"><a href="./checkout.html" class="nav-link">Art Works</a></li>
                         </ul>
                    </div>
                -->
 