<!--profile modal-->
<div class="modal fade" id="prof">
    <div class="modal-dialog">
        <div class="modal-content p-2 px-3" style="max-width: 350px;">
            <div class="modal-header">
                <h4 class="modal-title">Profile</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-4 d-flex flex-column align-items-center justify-content-center">
            <!----    <div class="col w-100">
            --> 
                 <img src={{imgdata}} class="rounded-circle bg-info" alt="" width="100px" height="100px" >
                 <h4>{{user_data[1]}} {{user_data[2]}}</h4>
                 <h6>{{user_data[4]}}</h6>
                 <a href="userprofile" class="btn  btn-outline-dark w-100 my-3">View Profile</a>
                    <a href="logout"  class="btn  btn-outline-danger w-100">Logout</a>

               <!---- </div>
                --->
            </div>
        </div>
    </div>
</div>
<!--search modal-->
<div class="modal fade" id="sear">
    <div class="modal-dialog">
        <div class="modal-content p-2 px-3" style="min-height: 80vh;">
            <div class="modal-header">
                <h4 class="modal-title">Search</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-4 d-flex flex-column align-items-center justify-content-center">
            <!----    <div class="col w-100">
            --> 
                <div class="" id="sdisplaydiv">
                </div>
            <!---- </div>
            --->
            </div>
        </div>
    </div>
</div>
<script>
    console.log("hacky is lazy");
</script>

<script>
    /*
                        <h4>{{user_data.firstname}}</h4>
                    <h6>{{user_data.emailid}}</h6>

    */
</script>