<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo3.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <header class="" style="padding-bottom: 106px;">
        <nav class="navbar navbar-expand-md  fixed-top navbar-dark bg-primary  justify-content-center">
           <div class="container-fluid ">
               
               <a href="" class="navbar-brand " data-bs-toggle="tooltip" aria-label="Brand" data-bs-original-title="Brand">
                   <img src="{{ url_for('static', filename='images/logo1.jpg') }}" class="rounded-circle" alt="" style="width: 80px; height: 80px;">
               </a>
               
               <div class="access1 d-flex flex-row   px-4 pe-0 gap-1 order-2 order-lg-3 order-md-3">
                   <a href="userprofile" data-bs-toggle="modal" title="Profile" data-bs-target="#prof" class="navbar-brand  align-items-center m-0">
                    <img src={{imgdata}} alt="" height="40" width="40" name="profile" class="rounded-circle bg-light border border-info m-0 p-1 ms-1">
                    </a>
               </div>
               <button class="navbar-toggler order-3 order-lg-2 order-md-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#colapnavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
                </button>
               <div class="navbar-collapse order-1 mx-3 order-4 order-md-2 order-lg-2 collapse" id="colapnavbar" style="">
                    
                    <ul class="navbar-nav align-items-baseline">
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="home" data-bs-original-title="Home">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="order" data-bs-original-title="Orders">Orders</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="products" data-bs-original-title="Products">Products</a>
                        </li>
                        
                    </ul>              
            </div>
               
           </div>
       </nav>
    </header>
      
    <main class="container-fluid  bg-secondary text-light" style="min-height: 80vh;">
        <section class="s" id="so">
            {% if orderdata|length !=0  %}
                <h1>Orders</h1>
                <div class="table-responsive " style="line-height: 30px;">
                    <table class="table table-bordered table-striped table-hover table-warning border-dark ">
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Customer Id</th>
                                <th>Shipping Addr</th>
                                <th>Order Status</th>
                                <th>Order Date</th>
                                <th>Product Details</th>
                                <th>Total Amt</th>
                            </tr>
                        </thead>
                        <tbody>
                            {#
                            <tr>
                                <td>103</td>
                                <td>Lorem, ipsum dolor.</td>
                                <td>Aringar anna st,Nagapatinam,TamilNadu-605601</td>
                                <td>Delivered</td>
                                <td>1/8/2023</td>
                                <td>Artician table (2), Artician chocolates</td>
                                <td>$100</td>
                            </tr>
                            #}
                                {% set arr_length = orderdata|length %}
                                {#
                                    <p>order data is ,{{orderdata}} </p>                            
                                #}

                                {% for i in range(arr_length) %}
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{orderdata[i][0]}}</td>
                                        <td>{{orderdata[i][2]}}</td>
                                        <td>{{orderdata[i][6]}}</td>
                                        <td>{{orderdata[i][7]}}</td>
                                        <td>{{orderdata[i][3]}}</td>
                                        <td>₹ {{orderdata[i][4]}}</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
            
                </div>

            {% else %}
                <div class="d-flex align-items-center justify-content-center" style="min-height: 60vh;">
                    <h1>No orders so far!</h1>
                </div>
            {% endif %}

        </section>
        
    </main>

    {% include "modal.html" %}

     {% include "footer.html" %}

     <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/foot.js')}}"></script>
      
</body>
</html>