<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo3.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cart.css')}}">
    <style>
        .sp{
            max-width: 330px;
        }
        #performance>div{
            max-width: 300px;
            border: 5px solid black;
            border-radius: 15px;
        }
        
        @media screen and (width<350px) {

            .prodsda{
                max-width: 260px;
            }
        }
    </style>
</head>
<body>
    <header class="" style="padding-bottom: 106px;">
        <nav class="navbar navbar-expand-md  fixed-top navbar-dark bg-primary  justify-content-center">
           <div class="container-fluid ">
               
               <a href="" class="navbar-brand " data-bs-toggle="tooltip" aria-label="Brand" data-bs-original-title="Brand">
                   <img src="{{ url_for('static', filename='images/logo1.jpg') }}" class="rounded-circle" alt="" style="width: 80px; height: 80px;">
               </a>
               
               <div class="access1 d-flex flex-row   px-4 pe-0 gap-1 order-2 order-lg-3 order-md-3">
                   <a href="userprofile" data-bs-toggle="modal" title="Profile" data-bs-target="#prof" class="navbar-brand  align-items-center m-0">
                    <img src={{imgdata}} alt="" height="40" width="40" name="profile" class="rounded-circle bg-light border border-info m-0 p-1 ms-1">
                    </a>
               </div>
               <button class="navbar-toggler order-3 order-lg-2 order-md-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#colapnavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
                </button>
               <div class="navbar-collapse order-1 mx-3 order-4 order-md-2 order-lg-2 collapse" id="colapnavbar" style="">
                    
                    <ul class="navbar-nav align-items-baseline">
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="home" data-bs-original-title="Home">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="order" data-bs-original-title="Orders">Orders</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="products" data-bs-original-title="Products">Products</a>
                        </li>
                        
                    </ul>              
            </div>
               
           </div>
       </nav>
    </header>
    
    <main class="container-fluid p-0">

        <section class="s px-3 bg-info" id="sp">
            <h1 class="text-center">Products</h1>
            <br>
            <div id="performance" class="row  gap-5 px-5 d-flex align-items-center justify-content-center">
                <div class="py-3 row-sm col-md col-lg d-flex flex-column align-items-center bg-warning  border">
                    <h3>Total Products Listed</h3>
                    <p id="prodlisted"></p>
                </div>
                <div class="py-3 row-sm col-md col-lg d-flex flex-column align-items-center bg-warning  border">
                    <h3>Total Sold Products</h3>
                    <p id="prodsold"> </p>
                </div>
            </div>
            <br>
            <div class="container-fluid w-100">
                <div class="row gap-2 justify-content-center" id="sppar">
                   
                    <div id="addnew" class="col-sm-12 col-md-5 sp col-lg-3 border border-light border-2 d-flex flex-column justify-content-center align-items-center gap-3 py-2" style="width:300px;border-radius: 20px;">
                        <h1>Add New Products</h1>
                        <button class="btn btn-outline-primary" data-bs-toggle="modal" title="Profile" data-bs-target="#addprod">Add Products</button>

                    </div>
                     
                </div>
            </div>
            <br>
            <hr>
            <h1></h1>
        </section>
        </main>

        <div id="addprod" class="modal  modal-fullscreen" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add new Product to sell</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addnewprod" enctype="multipart/form-data">
                        <div class="d-flex  justify-content-center">
                            <img src="{{url_for('static',filename='images/dummy-product.jpg')}}" alt="" height="100" width="100" class="rounded-circle border border-info p-1">
                            <img src="" alt="" id="testda">
                        </div>
                <!---   
                        <div class="form-floating mb-3 mt-3">
                            <input alt="upload image" type="file" class="form-control" id="profimg" name="profimg">
                            <label for="name">Profile Pic</label>
                        </div>
               -->
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" required class="form-control" id="name" placeholder="Enter First Name" name="name">
                            <label for="name">Product Name</label>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" required class="form-control" id="price" placeholder="Enter Last Name" name="price">
                            <label for="price">Product Price</label>
                        </div>                       
                        <div class="form-floating mb-3 mt-3">
                            <input type="number" required class="form-control" id="qty" placeholder="Enter your Shop Name" name="shop">
                            <label for="qty">Quantity</label>
                        </div>
                        <div class=" form-floating mb-3 mt-3">
                            <h4>Select your product category</h4>
                            <div class="form-check container col-12 w-100" id="cat">
                            <div class="col-3">
                                <input  type="radio" name="d" class="form-check-input checkboxgrp"  value="jewel" id="jw">
                                <label class="form-check-label" for="jw">Jewelry</label>
                            </div>
                            <div class="col-3">
                                <input  type="radio" name="d" class="form-check-input checkboxgrp"  value="homedecor" id="hd">
                                <label class="form-check-label" for="hd">Home Decor</label>    
                            </div>
                            <div class="col-3">
                                <input  type="radio" name="d"  class="form-check-input checkboxgrp" value="pottery" id="pot">
                                <label class="form-check-label" for="pot">Pottery</label>    
                            </div>
                            <div class="col-3">
                                <input  type="radio" name="d"  class="form-check-input checkboxgrp" value="toys" id="toy">
                                <label class="form-check-label" for="toy">Toys & Games</label>    
                            </div>
                            <div class="col-3">
                                <input  type="radio" name="d"  class="form-check-input checkboxgrp" value="furn" id="fur">
                                <label class="form-check-label" for="fur">Furnitures</label>    
                            </div>
                            <div class="col-3">
                                <input  type="radio" name="d"  class="form-check-input checkboxgrp" value="artwork" id="art">
                                <label class="form-check-label" for="art">Art Works</label>    
                            </div>
                        
                            </div>
                        </div>
                        
                        <div id="refer" class="form-floating mb-3 mt-3">
                            <textarea name="proddesc" required class="form-control" id="proddesc" cols="150" rows="10" placeholder="Give the descritption to your product" style="height: 130px;"></textarea>
                            <label for="proddesc">Product Description</label>
                        </div>
                        <h4>Upload images for your products</h4>
                     <!--     <div class="form-floating mt-3 mb-3">
                            <input type="file" required class="form-control" id="pwd" placeholder="Enter password" name="password">
                            <label for="pwd">Password</label>
                          </div>
                        -->
                          <div class="row">
                            <div class="form-floating mt-3 mb-3">
                                <input type="file" multiple required class="form-control" id="imageips" placeholder="Enter Phone number" name="phoneno">
                                <label for="imageips">Image</label>
                              </div>
                              <div id="imgdivs">
                      <!--          <img src="" id="imgdisplay" alt="" class="" style="height: 50px; width: 50px;">
                          -->    </div>
                          </div>
                         <br><br>
                          <button id="cbuyer" class="btn btn-outline-success w-100" type="submit">Create</button>
                      
                    </form>
                </div>
              </div>
            </div>
          </div>
    
    {% include "modal.html" %}

     {% include "footer.html" %}

     <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/foot.js')}}"></script>
     <script src="{{url_for('static',filename='js/sellproducts.js')}}"></script>
</body>
</html>