<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo3.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <header class="" style="padding-bottom: 106px;">
        <nav class="navbar navbar-expand-md  fixed-top navbar-dark bg-primary  justify-content-center">
           <div class="container-fluid ">
               
               <a href="" class="navbar-brand " data-bs-toggle="tooltip" aria-label="Brand" data-bs-original-title="Brand">
                   <img src="{{ url_for('static', filename='images/logo1.jpg') }}" class="rounded-circle" alt="" style="width: 80px; height: 80px;">
               </a>
               
               <div class="access1 d-flex flex-row   px-4 pe-0 gap-1 order-2 order-lg-3 order-md-3">
                   <a href="userprofile" data-bs-toggle="modal" title="Profile" data-bs-target="#prof" class="navbar-brand  align-items-center m-0">
                    <img src={{imgdata}} alt="" height="40" width="40" name="profile" class="rounded-circle bg-light border border-info m-0 p-1 ms-1">
                    </a>
               </div>
               <button class="navbar-toggler order-3 order-lg-2 order-md-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#colapnavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
                </button>
               <div class="navbar-collapse order-1 mx-3 order-4 order-md-2 order-lg-2 collapse" id="colapnavbar" style="">
                    
                    <ul class="navbar-nav align-items-baseline">
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="home" data-bs-original-title="Home">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="order" data-bs-original-title="Orders">Orders</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tooltip" href="products" data-bs-original-title="Products">Products</a>
                        </li>
                        
                    </ul>              
            </div>
               
           </div>
       </nav>
    </header>
    
    <main class=" row d-flex flex-column align-items-center container-fluid  m-0" style="background-color: bisque;margin-top: 100px;">
    
        <div class="col bg-success px-3 pb-3" style="max-width:450px">
            <div class="row  bg-success d-flex flex-column justify-content-center align-items-center m-0 ">
                <img src={{imgdata}} alt="" class="pt-2 mb-2" style="height: 100px; width: 150px;">
                <h2 class="text-center">{{user_data[1]}} {{user_data[2]}}</h2>
                <h5 class="text-center">{{user_data[4]}}</h5>
            </div><br>
            <div class="row">
                <h2>User info</h2>
                <div class="col">
                    <p>First Name</p>
                    <p>Last Name</p>
                    <p>Shop Name</p>
                    <p>Email</p>
                    <p>Phone</p>
                    <p>Address</p>
                </div>
                <div class="col">
                    <p>{{user_data[1]}}</p>
                    <p>{{user_data[2]}}</p>
                    <p>{{user_data[6]}}</p>
                    <p>{{user_data[4]}}</p>
                    <p>{{user_data[3]}}</p>
                    <p>{{user_data[5]}}</p>
                </div>
            </div>
       <button class="btn w-100 btn-outline-info w-100" data-bs-toggle="modal" data-bs-target="#login">Edit Profile</button>
        </div>
        
    
        <div id="login" class="modal modal-fullscreen">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">Atrifusion</div>
                        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" id="updatesprofile" enctype="multipart/form-data">
                            <div class=" d-flex align-items-center justify-content-center">
                                <img src={{imgdata}} alt="" id="img" class="rounded-circle bg-info" style="width:100px;height: 100px;">
                            </div>
                            <br>
                            <div class="row">
                                <label for="img">Update image</label>
                                <input type="file" id="imageinput" accept="image/*"/>
                              </div>
                              <br>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" value={{user_data[1]}}  class="form-control" id="firstname" placeholder="Enter First Name" name="fname">
                                <label for="name">First Name</label>
                              </div>
                              <div class="form-floating mb-3 mt-3">
                                <input type="text" value={{user_data[2]}} class="form-control" id="lastname" placeholder="Enter Last Name" name="lname">
                                <label for="last">Last Name </label>
                              </div>
                              <div class="form-floating mb-3 mt-3">
                                <input type="text" value={{user_data[6]}} class="form-control" id="shop" placeholder="Enter Your Shop Name" name="shop">
                                <label for="last">Shop Name </label>
                              </div>
                              <div class="form-floating mt-3 mb-3">
                                <input type="text"  class="form-control"    id="pwd" placeholder="Enter password" name="pswd">
                                <label for="pwd">Enter new Password</label>
                              </div>
                              <div class="form-floating mt-3 mb-3">
                                <input type="tel" value={{user_data[3]}} class="form-control" id="phoneno" placeholder="Enter phonenumber" name="phoneno">
                                <label for="phoneno">Contact Number</label>
                              </div>
                              <div class="form-floating mt-3 mb-3">
                                <input type="text" value={{user_data[5]}} class="form-control"  id="addr" placeholder="Enter Address" name="addr">
                                <label for="addr">Address</label>
                              </div>
                              <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="modal">Update Profile</button>
                          
                        </form>
                    </div>
                </div>
            </div>
        </div>   
        
    </main>

    {% include "modal.html" %}

     {% include "footer.html" %}
     <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/foot.js')}}"></script>
     <script>
        let profimg;  
        const upform=document.getElementById('updatesprofile')
        const imgip= document.getElementById('imageinput');
        const img=document.getElementById('img');
        imgip.addEventListener('input',()=>{
          if(imgip.files && imgip.files[0]){
            const reader =new FileReader();
            reader.onload= function(e){
              console.log(typeof e.target.result);
    
              img.src=e.target.result;
              profimg=e.target.result;
              console.log(profimg);
              
            };
            reader.readAsDataURL(imgip.files[0])
          }
          console.log(profimg);
        })
        profimg=img.src;

          
        upform.addEventListener('submit',()=>{
            event.preventDefault()
            console.log(profimg);
    
            const fname=document.getElementById('firstname').value
            const lname=document.getElementById('lastname').value
            const addr=document.getElementById('addr').value
            const phoneno=document.getElementById('phoneno').value
            const pwd=document.getElementById('pwd').value
            const shop=document.getElementById('shop').value
            
            console.log('profimg = ',profimg);
            const newprod={
                fname:fname,
                lname:lname,
                addr:addr,
                phone:phoneno,
                pwd:pwd,
                shop:shop,
                pimgarr:profimg,
            }
            console.log(newprod);
            /*
            if(npname!=''&& npdesc!='' && npprice!='' && npqty>0 && imgarr.length>=1){
                alert('success') 
                alert(srcarr[0])
                console.log(srcarr[0]);
                console.log(newprod);
              */    
                fetch(`${window.origin}/artifusion/seller/userprofile/edit`,{
                    method:'POST',
                    headers:{
                        'content-Type':'application/json',
                    },
                    body:JSON.stringify(newprod),
                })
                .then(response=>response.json())
                .then(data=>{
                    if(data.status_code==200){
                        //window.location.href='/artifusion/seller/products'
                        alert('Profile info updated successfully')
                        location.reload()
                    }
                    else if(data.status_code==404){
                        alert('the json data is not received has some problem')
                        window.location.href='/artifusion/seller/products'
                    }
                    else{
                        alert('server prolem')
                        window.location.href='/artifusion/seller/products'
                    }
                })  
                .catch(error=>{
    
                })      
          /*  }
            else{
                alert('please fill out the necessary details')
            }*/
        })
            
     </script>
</body>
</html>